{
  "extends": "airbnb",
  "plugins": ["react", "react-native"],
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "no-debugger": 0,
    "comma-dangle": 0,
    "no-console": 0,
    "no-alert": 0,
    "brace-style": [2, "stroustrup"],
    "no-use-before-define": 0,
    "no-underscore-dangle": 0,
    "prefer-stateless-function": 0,
    "react/no-useless-constructor": 0
  }
}
